#### Tutorial linke below:
#### https://github.com/dgunning/edgartools

In [1]:
import pandas as pd
from edgar import *

# Tell the SEC who you are
set_identity("erinyyu3@gmail.com")

[11:13:55] INFO     Identity of the Edgar REST client set to [erinyyu3@gmail.com]                       ]8;id=196155;file:///Users/erinyu/anaconda3/lib/python3.11/site-packages/edgar/core.py\core.py]8;;\:]8;id=646366;file:///Users/erinyu/anaconda3/lib/python3.11/site-packages/edgar/core.py#154\154]8;;\

In [1]:
# pip install edgartools

Collecting edgartools
  Downloading edgartools-2.10.1-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: beautifulsoup4>=4.10.0 in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from edgartools) (4.12.2)
Requirement already satisfied: charset-normalizer>=2.1.1 in /Users/erinyu/.local/lib/python3.11/site-packages (from edgartools) (3.3.1)
Collecting fastcore>=1.5.29 (from edgartools)
  Downloading fastcore-1.5.29-py3-none-any.whl.metadata (3.5 kB)
Collecting httpx>=0.25.0 (from edgartools)
  Downloading httpx-0.27.0-py3-none-any.whl.metadata (7.2 kB)
Collecting humanize>=4.0.0 (from edgartools)
  Downloading humanize-4.9.0-py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: lxml>=4.4 in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from edgartools) (4.9.2)
Collecting markdownify>0.11.0 (from edgartools)
  Downloading markdownify-0.11.6-py3-none-any.whl.metadata (7.3 kB)
Collecting pandas>=2.0.0 (from edgartools)
  Downloading pandas-2.2.1-cp311-cp311-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting pyarrow>=14.0.0 (from edgartools)
  Downloading pyarrow-15.0.0-cp311-cp311-macosx_11_0_arm64.whl.metadata (3.0 kB)
Requirement already satisfied: pydantic>=2.0.0 in /Users/erinyu/.local/lib/python3.11/site-packages (from edgartools) (2.4.2)
Collecting rank-bm25==0.2.1 (from edgartools)
  Downloading rank_bm25-0.2.1-py3-none-any.whl.metadata (3.1 kB)
Collecting retry>=0.9.2 (from edgartools)
  Downloading retry-0.9.2-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: rich>=13.0.0 in /Users/erinyu/.local/lib/python3.11/site-packages (from edgartools) (13.6.0)
Collecting textdistance>=4.5.0 (from edgartools)
  Downloading textdistance-4.6.1-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: numpy in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from rank-bm25==0.2.1->edgartools) (1.24.3)
Requirement already satisfied: soupsieve>1.2 in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.10.0->edgartools) (2.4)
Requirement already satisfied: pip in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from fastcore>=1.5.29->edgartools) (23.3.1)
Requirement already satisfied: packaging in /Users/erinyu/.local/lib/python3.11/site-packages (from fastcore>=1.5.29->edgartools) (23.2)
Requirement already satisfied: anyio in /Users/erinyu/.local/lib/python3.11/site-packages (from httpx>=0.25.0->edgartools) (3.7.1)
Requirement already satisfied: certifi in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from httpx>=0.25.0->edgartools) (2023.7.22)
Collecting httpcore==1.* (from httpx>=0.25.0->edgartools)
  Downloading httpcore-1.0.4-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: idna in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from httpx>=0.25.0->edgartools) (3.4)
Requirement already satisfied: sniffio in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from httpx>=0.25.0->edgartools) (1.2.0)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx>=0.25.0->edgartools)
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: six<2,>=1.15 in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from markdownify>0.11.0->edgartools) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from pandas>=2.0.0->edgartools) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from pandas>=2.0.0->edgartools) (2022.7)
Collecting tzdata>=2022.7 (from pandas>=2.0.0->edgartools)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: annotated-types>=0.4.0 in /Users/erinyu/.local/lib/python3.11/site-packages (from pydantic>=2.0.0->edgartools) (0.6.0)
Requirement already satisfied: pydantic-core==2.10.1 in /Users/erinyu/.local/lib/python3.11/site-packages (from pydantic>=2.0.0->edgartools) (2.10.1)
Requirement already satisfied: typing-extensions>=4.6.1 in /Users/erinyu/.local/lib/python3.11/site-packages (from pydantic>=2.0.0->edgartools) (4.8.0)
Requirement already satisfied: decorator>=3.4.2 in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from retry>=0.9.2->edgartools) (5.1.1)
Collecting py<2.0.0,>=1.4.26 (from retry>=0.9.2->edgartools)
  Downloading py-1.11.0-py2.py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from rich>=13.0.0->edgartools) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from rich>=13.0.0->edgartools) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in /Users/erinyu/anaconda3/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich>=13.0.0->edgartools) (0.1.0)
Downloading edgartools-2.10.1-py3-none-any.whl (296 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.5/296.5 kB 12.1 MB/s eta 0:00:00
Downloading rank_bm25-0.2.1-py3-none-any.whl (8.5 kB)
Downloading fastcore-1.5.29-py3-none-any.whl (67 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.6/67.6 kB 9.2 MB/s eta 0:00:00
Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 8.7 MB/s eta 0:00:00
Downloading httpcore-1.0.4-py3-none-any.whl (77 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.8/77.8 kB 8.6 MB/s eta 0:00:00
Downloading humanize-4.9.0-py3-none-any.whl (126 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 126.8/126.8 kB 13.9 MB/s eta 0:00:00
Downloading markdownify-0.11.6-py3-none-any.whl (16 kB)
Downloading pandas-2.2.1-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 59.9 MB/s eta 0:00:00 0:00:01
Downloading pyarrow-15.0.0-cp311-cp311-macosx_11_0_arm64.whl (24.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.2/24.2 MB 68.3 MB/s eta 0:00:0000:0100:01
Downloading retry-0.9.2-py2.py3-none-any.whl (8.0 kB)
Downloading textdistance-4.6.1-py3-none-any.whl (31 kB)
Downloading py-1.11.0-py2.py3-none-any.whl (98 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.7/98.7 kB 11.6 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 37.4 MB/s eta 0:00:00
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 8.2 MB/s eta 0:00:00
Installing collected packages: tzdata, textdistance, rank-bm25, pyarrow, py, humanize, h11, fastcore, retry, pandas, markdownify, httpcore, httpx, edgartools
  Attempting uninstall: textdistance
    Found existing installation: textdistance 4.2.1
    Uninstalling textdistance-4.2.1:
      Successfully uninstalled textdistance-4.2.1
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 11.0.0
    Uninstalling pyarrow-11.0.0:
      Successfully uninstalled pyarrow-11.0.0
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.4.3 requires pyqt5<5.16, which is not installed.
spyder 5.4.3 requires pyqtwebengine<5.16, which is not installed.
Successfully installed edgartools-2.10.1 fastcore-1.5.29 h11-0.14.0 httpcore-1.0.4 httpx-0.27.0 humanize-4.9.0 markdownify-0.11.6 pandas-2.2.1 py-1.11.0 pyarrow-15.0.0 rank-bm25-0.2.1 retry-0.9.2 textdistance-4.6.1 tzdata-2024.1

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

In [2]:
# do I need to get financial statements from 10-K filing or 
# I can directly query the balance sheet and income statements

filings = get_filings(year=range(2014, 2024),form="10-K")
#filings

df = filings.to_pandas()

# create a copy of the original data received from EDGAR
df_copy = df.copy()

In [3]:
#df['filing_date'] = pd.to_datetime(df['filing_date'])
#df['year'] = df['filing_date'].dt.year
df_copy = df_copy.loc[df_copy['form']=='10-K'] # to exclude form == 10-K/A which does not usually have the financial statements
df_copy #74029 rows × 5 columns
# df_copy = df_copy.drop_duplicates() no duplicates detected

,form,company,cik,filing_date,accession_number
0,10-K,"Atmos Energy Kansas Securitization I, LLC",1967097,2023-12-29,0001967097-23-000004
1,10-K,"Citius Pharmaceuticals, Inc.",1506251,2023-12-29,0001213900-23-099889
2,10-K,FLANIGANS ENTERPRISES INC,12040,2023-12-29,0001174947-23-001489
3,10-K,GLOBAL TECHNOLOGIES LTD,932021,2023-12-29,0001493152-23-046428
4,10-K,MariaDB plc,1929589,2023-12-29,0001929589-23-000010
...,...,...,...,...,...
84700,10-K,PHOTRONICS INC,810136,2014-01-03,0001140361-14-000609
84701,10-K,Vanguard Energy Corp,1497649,2014-01-03,0001354488-14-000018
84704,10-K,CASTLE HOLDING CORP,802510,2014-01-02,0001477932-14-000009
84705,10-K,Hydrogen Future Corp,1381054,2014-01-02,0001354488-14-000016
84706,10-K,"LICONT, CORP.",1531618,2014-01-02,0001144204-14-000054

In [18]:
# number of companies that have 10 year SEC filing history
df_unique_cik = df_copy['cik'].drop_duplicates()
df_unique_cik #13476 rows

0        1967097
1        1506251
2          12040
3         932021
4        1929589
          ...
84620    1454725
84627    1424030
84636    1533311
84658    1375554
84682    1400431
Name: cik, Length: 13476, dtype: int32

In [4]:
# create cik_ticker data frame
# https://www.sec.gov/files/company_tickers.json
# cik stand for central index key

# Read JSON data into DataFrame
# had issue reading the data directly from the sec link so had to save down .json first
cki_ticker = pd.read_json('company_tickers.json')

#print(cki_ticker)
cki_ticker = cki_ticker.transpose()

cki_ticker

       cik_str ticker                              title
0       789019   MSFT                     MICROSOFT CORP
1       320193   AAPL                         Apple Inc.
2      1045810   NVDA                        NVIDIA CORP
3      1018724   AMZN                     AMAZON COM INC
4      1652044  GOOGL                      Alphabet Inc.
...        ...    ...                                ...
10426  1131312  ZNOGW                 ZION OIL & GAS INC
10427  1826681  STRCW  Sarcos Technology & Robotics Corp
10428   884614   UGIC                      UGI CORP /PA/
10429  1923734  RKPPS           Ark7 Properties Plus LLC
10430  1923734  AFTWS           Ark7 Properties Plus LLC

[10431 rows x 3 columns]

In [19]:
# extract tickers that have 10 years of SEC filing history
tickers_w_10yr_hist = pd.merge(df_unique_cik,
                               cki_ticker,
                               left_on = 'cik',
                               right_on = 'cik_str',
                               how = 'inner')
tickers_w_10yr_hist #7480 tickers found

          cik  cik_str   ticker                           title
0     1506251  1506251     CTXR    Citius Pharmaceuticals, Inc.
1       12040    12040      BDL       FLANIGANS ENTERPRISES INC
2      932021   932021     GTLL         GLOBAL TECHNOLOGIES LTD
3     1929589  1929589     MRDB                     MariaDB plc
4     1929589  1929589  MRDB-WT                     MariaDB plc
...       ...      ...      ...                             ...
7475  1388295  1388295     ONEI                    OneMeta Inc.
7476  1561686  1561686     SSET  STARSTREAM ENTERTAINMENT, INC.
7477   731122   731122     CCFN   MUNCY COLUMBIA FINANCIAL Corp
7478  1300867  1300867     ONCI         ON4 COMMUNICATIONS INC.
7479  1095146  1095146     ABIT           Athena Bitcoin Global

[7480 rows x 4 columns]

In [20]:
# check if any NAs and it should be no NAs given that we are doing inner join
print(tickers_w_10yr_hist.isna().sum())

cik        0
cik_str    0
ticker     0
title      0
dtype: int64

In [24]:
tickers_w_10yr_hist['ticker'].to_csv('tickers_w_10yr_hist.csv', index=False)

In [21]:
company=Company('AAPL')

In [22]:
company.get_facts()

╭───────────────────────────── Company Facts(Apple Inc. [320193] 22,328 total facts) ─────────────────────────────╮
│                                                                                                                 │
│           namesp…   fact      val       accn      end       fy     fp    form     filed     frame     start     │
│  ─────────────────────────────────────────────────────────────────────────────────────────────────────────────  │
│   0       dei       Entity…   895816…   000119…   2009-0…   2009   Q3    10-Q     2009-0…   CY2009…   None      │
│   1       dei       Entity…   900678…   000119…   2009-1…   2009   FY    10-K     2009-1…   None      None      │
│   2       dei       Entity…   900678…   000119…   2009-1…   2009   FY    10-K/A   2010-0…   CY2009…   None      │
│   3       dei       Entity…   906794…   000119…   2010-0…   2010   Q1    10-Q     2010-0…   CY2009…   None      │
│   4       dei       Entity…   909938…   000119…   2010-0…   2010   Q2    10-Q     2010-0…   CY2010…   None      │
│   5       dei       Entity…   913562…   000119…   2010-0…   2010   Q3    10-Q     2010-0…   CY2010…   None      │
│   6       dei       Entity…   917307…   000119…   2010-1…   2010   FY    10-K     2010-1…   CY2010…   None      │
│   7       dei       Entity…   921278…   000119…   2011-0…   2011   Q1    10-Q     2011-0…   CY2010…   None      │
│   8       dei       Entity…   924754…   000119…   2011-0…   2011   Q2    10-Q     2011-0…   CY2011…   None      │
│   9       dei       Entity…   927090…   000119…   2011-0…   2011   Q3    10-Q     2011-0…   CY2011…   None      │
│   ...     ...       ...       ...       ...       ...       ...    ...   ...      ...       ...       ...       │
│   22318   us-gaap   Deferr…   178520…   000032…   2023-0…   2023   FY    10-K     2023-1…   CY2023…   None      │
│   22319   us-gaap   Deferr…   158200…   000032…   2022-0…   2023   FY    10-K     2023-1…   CY2022…   None      │
│   22320   us-gaap   Deferr…   199800…   000032…   2023-0…   2023   FY    10-K     2023-1…   CY2023…   None      │
│   22321   us-gaap   Increm…   163647…   000032…   2021-0…   2023   FY    10-K     2023-1…   CY2021    2020-0…   │
│   22322   us-gaap   Increm…   109856…   000032…   2022-0…   2023   FY    10-K     2023-1…   CY2022    2021-0…   │
│   22323   us-gaap   Increm…   629950…   000032…   2022-1…   2024   Q1    10-Q     2024-0…   CY2022…   2022-0…   │
│   22324   us-gaap   Increm…   683160…   000032…   2023-0…   2023   FY    10-K     2023-1…   CY2023    2022-0…   │
│   22325   us-gaap   Increm…   668780…   000032…   2023-1…   2024   Q1    10-Q     2024-0…   CY2023…   2023-1…   │
│   22326   us-gaap   OtherA…   390530…   000032…   2022-0…   2023   FY    10-K     2023-1…   CY2022…   None      │
│   22327   us-gaap   OtherA…   469060…   000032…   2023-0…   2023   FY    10-K     2023-1…   CY2023…   None      │
│                                                                                                                 │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

In [81]:
# Read the CSV file into a DataFrame
df_500 = pd.read_csv('sp500_component.csv')
df_500

    tickers_wiki  CIK_wiki
0            MMM     66740
1            AOS     91142
2            ABT      1800
3           ABBV   1551152
4            ACN   1467373
..           ...       ...
498          YUM   1041061
499         ZBRA    877212
500          ZBH   1136869
501         ZION    109380
502          ZTS   1555280

[503 rows x 2 columns]

In [137]:
# checking the situation where one CIK is matched to multiple tickers
df_500[df_500.duplicated(subset=['CIK_wiki'])].sort_values(by=['CIK_wiki'])

df_500[df_500['CIK_wiki'].isin([1564708, 1652044, 1754301])]

    tickers_wiki  CIK_wiki
19         GOOGL   1652044
20          GOOG   1652044
205         FOXA   1754301
206          FOX   1754301
336         NWSA   1564708
337          NWS   1564708

In [124]:
# find the filings from companies that are in the sp500 index
df_sec_sp500 = pd.merge(df_500['CIK_wiki'], df_copy, left_on='CIK_wiki', right_on='cik', how='left')
df_sec_sp500 = df_sec_sp500.drop(columns = ['cik'])
df_sec_sp500 = df_sec_sp500.drop_duplicates()

In [125]:
df_sec_sp500

      CIK_wiki  form      company filing_date      accession_number
0        66740  10-K        3M CO  2023-02-08  0000066740-23-000014
1        66740  10-K        3M CO  2022-02-09  0000066740-22-000010
2        66740  10-K        3M CO  2021-02-04  0001558370-21-000737
3        66740  10-K        3M CO  2020-02-06  0001558370-20-000581
4        66740  10-K        3M CO  2019-02-07  0001558370-19-000470
...        ...   ...          ...         ...                   ...
4817   1555280  10-K  Zoetis Inc.  2018-02-15  0001555280-18-000053
4818   1555280  10-K  Zoetis Inc.  2017-02-16  0001555280-17-000044
4819   1555280  10-K  Zoetis Inc.  2016-02-24  0001555280-16-000344
4820   1555280  10-K  Zoetis Inc.  2015-02-27  0001555280-15-000057
4821   1555280  10-K  Zoetis Inc.  2014-03-26  0001555280-14-000164

[4799 rows x 5 columns]

In [126]:
# calculate how many filings each cik has
counts = df_sec_sp500['CIK_wiki'].value_counts()
value_counts_df = counts.reset_index()
value_counts_df

     CIK_wiki  count
0       66740     10
1     1103982     10
2      753308     10
3     1564708     10
4     1164727     10
..        ...    ...
495   1841666      2
496   1967680      1
497   1932393      1
498   1944048      1
499   1996862      1

[500 rows x 2 columns]

In [127]:
# create a subset of sp500 constituents companies that have 10 years of historical data
cik_with10 = value_counts_df[value_counts_df['count']==10]
len(cik_with10) # 451 sp500 constituents have full 10 years of history

451

In [128]:
df_in_scope = pd.merge(cik_with10['CIK_wiki'], df_sec_sp500, on='CIK_wiki', how='left')
df_in_scope

      CIK_wiki  form         company filing_date      accession_number
0        66740  10-K           3M CO  2023-02-08  0000066740-23-000014
1        66740  10-K           3M CO  2022-02-09  0000066740-22-000010
2        66740  10-K           3M CO  2021-02-04  0001558370-21-000737
3        66740  10-K           3M CO  2020-02-06  0001558370-20-000581
4        66740  10-K           3M CO  2019-02-07  0001558370-19-000470
...        ...   ...             ...         ...                   ...
4505   1156039  10-K    Anthem, Inc.  2018-02-21  0001156039-18-000003
4506   1156039  10-K    Anthem, Inc.  2017-02-22  0001156039-17-000002
4507   1156039  10-K    Anthem, Inc.  2016-02-19  0001156039-16-000018
4508   1156039  10-K    Anthem, Inc.  2015-02-24  0001156039-15-000003
4509   1156039  10-K  WELLPOINT, INC  2014-02-20  0001156039-14-000003

[4510 rows x 5 columns]

In [145]:
pd.merge(df_in_scope, df_500, on='CIK_wiki', how='left')[['CIK_wiki','company', 'tickers_wiki']].drop_duplicates()#.to_csv('companies_in_scope.csv', index=False)

      CIK_wiki                          company tickers_wiki
0        66740                            3M CO          MMM
10     1103982     Mondelez International, Inc.         MDLZ
20      753308               NEXTERA ENERGY INC          NEE
30     1564708                        NEWS CORP         NWSA
31     1564708                        NEWS CORP          NWS
...        ...                              ...          ...
4500    927066                      DAVITA INC.          DVA
4507    927066  DAVITA HEALTHCARE PARTNERS INC.          DVA
4510   1156039            Elevance Health, Inc.          ELV
4511   1156039                     Anthem, Inc.          ELV
4519   1156039                   WELLPOINT, INC          ELV

[581 rows x 3 columns]